<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link " href="/">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/saved">Saved Articles</a>
    </li>
    <button type="button" class="btn btn-danger text-center">Scrape Articles</button>
    <button type="button" class="btn btn-danger text-right">Clear Articles</button>

</ul>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Saved Articles</h1>
        <p class="lead">Revisit articles you saved and add notes to ones you love!</p>
    </div>
</div>


<div class="container">
    {{#each article}}
    <div class="card">
        <h5 class="card-header newsTitle"><a class="article-link" target="_blank" href={{link}}>{{title}}</a></h5>
        <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text newsDescription"></p>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add Note
            </button>
        </div>
    </div>
    {{/each}}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- Form --}}
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Title</label>
                        <input type="text" class="form-control titleInput" id="formGroupExampleInput"
                            placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Note</label>
                        <textarea class="form-control bodyInput" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary saveNote" data-id={{_id}} data-dismiss="modal">Save
                    Note</button>
            </div>
        </div>
    </div>
</div>